body {
    padding-top: 60px;
}

h1 {
    font-size: 22px;
}

h1, h2, h3 {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
}

.font-robot {
    font-family: 'Roboto 300', sans-serif;
}

#members-list > div {
    padding: 5px;
    background: lightgrey;
    position: relative;
}

#members-list > div:hover {
    background: darkorange;
}

#members-list > div > div {
    border: 1px solid black;
    color: black;
    font-size: 18px;
    padding: 10px;
    min-height:50px;
}

#members-list > div div {
    background: white;
}

.struct-details {
    flex: 1 100%;
}

.list-load {
    font-size: 14px;
}

.list-role {
    font-size: 14px;
}